<!DOCTYPE html>
<html>
  <head>
    <title>U2B</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <link rel="icon" type="image/png" href="<%=  image_url('u2bicon.png') %>">
  </head>

  <body>

    <%= yield %>
  </body>
</html>
